
.image-upload-label {
  border-radius: 12px;
  display: inline-block;
  padding: 1px 12px;
  cursor: pointer;
  background-color: rgb(214, 213, 213);
  color: #ff521b;
  padding: 3px 10px;
}

.image-upload-label:hover {
  background-color: #ff521b;
  color: white;
  cursor: pointer;
}

input[type="file"] {
  display: none;
}

.filename {
  margin-left: 10px;
  width: 50px;
  height: 8px;
}
