.image-upload-label {
    border-radius: 15px;
    display: inline-block;
    padding: 1px 12px;
    cursor: pointer;
    background-color: rgb(229, 229, 229);
    color: #ff521b;
    padding: 3px 12px;
}

.image-upload-label:hover {
    background-color: #ff521b;
    color: white;
    cursor: pointer;
}

input[type="file"] {
    display: none;
}

.filename {
    margin-left: 10px;
    width: 50px;
    height: 8px;
}

.create-event-page-container {
    display: flex;
    flex-direction: column;
    width: 100vw;
    align-items: center;
}

.create-event-page-container h1 {
    padding-top: 20px;
}

.form-box {
    margin-top: 30px;
}

.form-box form {
    width: 395px;
    height: auto;
}

.event-input {
    width: 100%;
}

.event-form-div {
    margin: 8px 0px;
}

.event-form-div label,
.image-label {
    font-weight: bolder;
}

.event-description-textarea {
    resize: none;
    width: 100%;
    height: 65px;
}

.errors {
    background-color: rgba(255, 0, 0, 0.35);
    margin: 10px 10px;
    border-radius: 15px;
}

.errors li {
    padding: 3px;
    margin-left: 30px;
}
