#root {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

main {
    flex-grow: 1;
}

footer {
    padding: 3px 0;
    margin-top: 10px;
    justify-self: flex-end;
    background-color: whitesmoke;
    box-shadow: 0 0 8px whitesmoke;
}

footer ul {
    display: flex;
    justify-content: space-around;
    align-items: center;
    list-style: none;
}

footer ul li {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.footer-links {
    display: flex;
    gap: 10px;
}

.footer-links > a {
    padding: 3px;
}

.footer-links img {
    height: 32px;
}
