@media(max-height:800px) {
  .event{
    max-height: 200px;
    min-height: 180px;
  }
}
@media(max-width:800px) {
  .event{
    max-width: 200px;
    min-width: 180px;
  }
  /* .title {
    font-size: 9px;
  }

  .category-date {
    visibility: hidden;
  }

  .description-text {
    width: 108px;
    height: 128px
  }

  .info {
    width: 60px;
    height: 60px
  }*/
}

@media(max-height:600px) {
  .event {
    max-width: 100px;
    min-width: 80px;
    /* max-height: 40%;
    max-width: 40%;
    min-height: 30%;
    min-width: 30%; */
  }
  /* .title {
    font-size: 8px;
  }

  .category-date {
    visibility: hidden;
  }

  .description-text {
    width: 100px;
    height: 100px;
  }

  .info {
    width: 60px;
    height: 60px
  }*/
}

@media(max-width:600px) {
  .event {
    max-width: 100px;
    min-width: 80px;
  }
}

@media(max-width:508) {
  .event {
    max-width: 80px;
    min-width: 60px;
  }
}

@media(max-height:508px) {
  .event {
    width: 80px;
    height: 60px;
    /* max-height: 25%;
    max-width: 25%;
    min-height: 20%;
    min-width: 20%; */
  }
  /* .title {
    font-size: 8px;
  }

  .category-date {
    visibility: hidden;
  }

  .description-text {
    width: 100px;
    height: 100px
  }

  .info {
    width: 60px;
    height: 60px
  } */
}
@media(max-width:430px) {
  .event {
    max-width: 70px;
    min-width: 60px;
  }
}

@media(max-height:430px) {
  .event {
    max-height: 70px;
    min-height: 60px;
  }
  /* .title {
    visibility: hidden;
  }

  .category-date {
    visibility: hidden;
  }

  .description-text {
    width: 80px;
    height: 80px
  }

  .info {
    width: 60px;
    height: 60px
  } */
}
