# No need for DATABASE_URL to be set if developing from within a devcontainer

FLASK_APP=app
FLASK_ENV=<development>
SECRET_KEY=<secret key>
DATABASE_URL=<postgresql://db_user:db_user_password@localhost/db_name>
S3_BUCKET=<bucket name>
S3_KEY=<Access key ID>
S3_SECRET=<Secret access key>
