.error-container {
  background-color: rgba(255, 0, 0, 0.35);
  padding: 12px 21px;
  margin: 10px 10px;
  border-radius: 15px;
}

.modal-title {
  display: flex;
  font-size: 23px;
  justify-content: center;
  margin: 10px 2px;
}

.modal-items-container {
  display: flex;
  flex-direction: column;
}

.modal-items {
  display: flex;
  flex-direction: column;
}

.modal-items > label {
  padding: 2px 2px 0px 7px;
  margin: 5px 5px 0 5px;
}

.modal-items > button {
  width: 80px;
  margin: 8px 5px 0 5px;
  align-self: center;
}

#sign-up {
  width: 120px;
}

#avatar-img {
  align-self: center;
}

#delete-user-msg {
  padding: 3px 12px 0 12px;
}

.modal-buttons {
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.modal-buttons > button {
  width: 150px;
  margin: 8px 5px 0 5px;
}
