#splash-welcome {
  margin-top: 30px;
  margin-left: 5vw;
  font-family: Eina-bold;
  color: #191923;
  font-size: 92px;
}

.landing-image {
  height: 500px;
  background-image: url("../../images/landing-img.jpg");
  background-size: cover;
  background-position: center;
}

.little-splash-title {
  margin-top: 12px;
  margin-bottom: 14px;
  margin-left: 5vw;
  font-family: Eina-bold;
  color: #191923;
  font-size: 38px;
}

.little-splash-blurb {
  margin-top: -2px;
  margin-left: 5vw;
  font-family: Eina;
  color: #191923;
  font-size: 19px;
}

/* #up-coming-events {
  font-size: 31px;
} */

.find-events-btn {
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: "Eina-semibold";
  font-size: 14px;
  width: 180px;
  height: 48px;
  border-radius: 8px;
  background-color: #FF521B;
  text-decoration: none;
  color: white
}
