#dashboard {
    display: grid;
    grid-template-columns: 75vw 25vw;
    grid-template-rows: auto auto auto auto;
    grid-template-areas:
        "user-panel bookmarks-sidebar"
        "dashboard-buttons bookmarks-sidebar"
        "tickets-panel bookmarks-sidebar"
        "my-event-panel bookmarks-sidebar";
}

.user-panel {
    grid-area: user-panel;
}

.tickets-panel {
    grid-area: tickets-panel;
    width: 70vw;
    height: 200px;
    margin: 10px 2px;
    overflow-x: scroll;
}

.my-event-panel {
    grid-area: my-event-panel;
    height: fit-content;
}

.dashboard-buttons {
    grid-area: dashboard-buttons;
}

.bookmarks-sidebar {
    grid-area: bookmarks-sidebar;
}

.footer-panel {
    grid-area: footer-panel;
}
