#modal {
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
  display: flex;
  justify-content: center;
  align-items: center;
}

#modal-bg {
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.75);
  z-index: 99;
}

#modal-content {
  position: absolute;
  background-color: var(--bg-color);
  width: max-content;
  padding: 0px 10px;
  z-index: 100;
}
