/* .navBarWrapper{
  position: relative;
}
.navBarDiv1, .navBarDiv2{
  position: absolute;
} */

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;

}

.navlink {
  font-family: "Eina-semibold";
  font-size: 13px;
  /* font-style: bold; */
  color: #191923;
  text-decoration: "none";
}

.navlink:hover {
  color: #FF521B;
}

p {
  color: #191923;
}

.navBarWrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0px 10%;
}

.profile-icon {
  /* background-color: #FF521B; */
  background-image: url('/Users/eli/Desktop/Eventbrite-Clone/react-app/src/images/user 2.png');
  background-size: cover;
  background-position: center;
  background-repeat: none;
  height: 24px;
  width: 24px;
  margin-right: 6px;
  float: left;
}

.profile-container:hover .profile-icon{
  background-image: url('/Users/eli/Desktop/Eventbrite-Clone/react-app/src/images/user 1.png');
  background-size: cover;
  background-position: center;
  background-repeat: none;
  height: 24px;
  width: 24px;
  margin-right: 6px;
  float: left;
}

.user-profile-container {
  margin: 8px
}
